<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for('home') }}">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Active Energy" height="80">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navegação principal -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sobre">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato') }}">Contato</a>
        </li>
      </ul>

      <!-- Ações de autenticação -->
      <ul class="navbar-nav d-flex">
        {% if request.endpoint != 'usuarios' %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Criar Conta</a>
          </li>
        {% else %}
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
